<table class="dashboard-table table table-bordered">
  <thead>
    <tr>
      <th class="mark"><% if can? :destroy, Phone %><input type="checkbox" id="all", title="Check to remove all phones then click Remove phone button at the bottom" /><% end %></th>
      <th class="mark2"></th>
      <th>Phone/Abilities</th>
      <th>Textbusters/status</th>
      <th>Last log/position</th>
      <th>Warnings</th>
      <th>Alerts</th>
    </tr>
  </thead>
  <tbody><%= render :partial => 'phone', :collection => @phones %></tbody>
</table>

<div class="dashboard-actions">
  <% if can? :create, Device %>
    <%= link_to 'Add new Textbuster', new_textbuster_path, :class => 'btn', :remote => true %>
  <% end %><% if can? :read, Event %>
  <%= link_to "Show Events", events_path, :class => "btn" %>
  <% end %><% if can? :destroy, Phone %>
    <%= link_to "Remove phone", delete_phones_path, :class => "btn", :id => 'delete_phone' %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.dashboard-table tbody isd.input').each(function(e){
      $(this).attr('title','Check to remove phone then click Remove Phone button at the bottom');
    })
  })

</script>

<% content_for :javascripts do %>
  <script>
    $("form.edit_phone input").click(function() {
      $(this).parents("form").submit();
    });
    
    $("a#delete_phone").click(function() {
      var ids = $.map($("input.all:checked"), function(val) { return val.id; })
      if (ids.length == 0) {
        alert("No phones checked");
        return false;
      }
      $(this).attr("href", $(this).attr("href") + "?ids=" + ids);
    });
  </script>
<% end %>
