<table class="dashboard-table table table-bordered">
  <thead>
    <tr>
      <th><% if can? :destroy, Phone %><input type="checkbox" id="all" /><% end %></th>
      <th></th>
      <th>Phone/Abilities</th>
      <th>Textbusters/status</th>
      <th>Last log/position</th>
      <th>Warnings</th>
      <th>Alerts</th>
    </tr>
  </thead>
  <tbody><%= render :partial => 'phone', :collection => @phones %></tbody>
</table>

<div class="dashboard-actions">
  <% if can? :create, Device %>
    <a href="#new_device" data-toggle="modal" class="btn">Add new Textbuster</a>
  <% end %><% if can? :read, Event %>
  <%= link_to "Show Events", events_path, :class => "btn" %>
  <% end %><% if can? :destroy, Phone %>
    <%= link_to "Remove phone", delete_phones_path, :class => "btn", :id => 'delete_phone' %>
  <% end %>
</div>

<% content_for :modals do %>
  <%= render :partial => "/devices/form" %>
<% end %>

<% content_for :javascripts do %>
  <script>
    $("form.edit_phone input").click(function() {
      $(this).parents("form").submit();
    });
    
    $("a#delete_phone").click(function() {
      var ids = $.map($("input.all:checked"), function(val) { return val.id; })
      if (ids.length == 0) {
        alert("No phones checked");
        return false;
      }
      $(this).attr("href", $(this).attr("href") + "?ids=" + ids);
    });
  </script>
<% end %>
