<table class="dashboard-table table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Aux emails</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody><%= render :partial => 'member', :collection => @kids %></tbody>
</table>

<script type="text/javascript">
  function showNewParent() {
     $('#new_parent').removeClass('hide');
     $('#new_parent').modal('show');    
  }
</script>

<%= javascript_tag '$(document).ready(function(){showNewParent();})' if flash[:action] == :new %>
