<div class="date"><%= last_position.created_at.strftime('%b. %d, ‘%y') rescue '' %></div>
<div class="time"><%= last_position.created_at.strftime('%R') rescue '' %></div>
<div class="addr"><%= last_position.address rescue '' %></div>
