<tr>
  <td><div class="ttl"><%= member.name %></div></td>
  <td><div class="num"><%= member.email %></div></td>
  <td><div class="num"><%= member.aux_emails %></div></td>
  <td><div class="num"><%= member.phone %></div></td>
</tr>

