<div class="filters">
  <%= semantic_form_for Event.new, :remote => true, :url => request.url, :html => {:method => :get} do |f| %>
    <%= f.input :phone, :as => :select, :collection => @family.phones, :label => false, :include_blank => "All Phones" %>
    <%= f.input :device, :as => :select, :collection => @family.devices, :label => false, :include_blank => "All Textbusters" %>
  <% end %>
</div>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function() {
      $(".filters form li select").change(function() {
        $(this).parents("form").submit();
      });
    });
  </script>
<% end %>
