<div style="margin: -35px auto 10px;float:right;">
  <%= link_to 'Trips', trips_path, :class => "btn #{menu_item_class('trips')}" %>
  <%= link_to 'Events' events_path, :class => "btn #{menu_item_class 'events'}" %>
</div>
