@import 'sencha-touch/default/all';

$base_color: #aaaaaa;

$base_text : #303030;

$panel-top : #DEDEDE;
$panel-bottom : #BFBFBF;

$base-fontsize : 0.8em;

$button-top : #333;
$button-bottom : #161616;
$button-pressed-top : #44b8b8;
$button-pressed-bottom : #44b8b8;
$button-text : white; //#27fbfc;
$button-text-glow : white;

$menubutton-top : #F4F4F4;
$menubutton-bottom : #bebebe;

@include sencha-toolbar-ui('inpage', $base_color);

@include sencha-button-ui('menu', $menubutton-bottom);

#splash{
	//@include background-image(linear-gradient($panel-top, $panel-bottom));
	background-image : url(../images/splash.png);
}

#mainmenuButtons{
	background : $base_text;
	background-image : 0;
	padding: 0 0 0.5em 0;
}

.x-button.x-button-menu{
	@include background-image(linear-gradient($menubutton-top, $menubutton-bottom));
	border: 0 !important;
	box-shadow: 1px 1px 4px #181818;
	margin: 0.5em 0.2em 0.5em 0.2em;  
	padding: 0;
}

.x-button.x-button-menu .x-button-label{
	text-align: left;
	color : #141414;
	padding : $base-fontsize * 0.5 0 $base-fontsize * 0.5 1em;
	font-size : $base-fontsize * 1.1;
	line-height : $base-fontsize * 1.1 * 2;
	border-right: 2px solid #c0c0c0;
}

.x-button.x-button-menu .x-button-icon{
	border-left: 2px solid #e5e5e5;
	width: 2.4em;	
}

#historyList{
	border-top: 3px groove;
}

.triplistItem{
	background : url(../images/menuarrow.png) no-repeat right center;
	margin-right : 0.5em;
	padding-right : 1.5em;
}

.triplistItem .triplistDate, .triplistItem .triplistDist{
	color : #058588;
	font-weight : bold;
}

.triplistItem img{
	position: relative;
	top: 0.1em;
	padding-right: 0.2em;
}

.triplistItem .latlng{
	color : $base-text;
}

.triplistItem .triplistDesc{
	display : inline-block;
}

.triplistItem .triplistStart{
	background : url(../images/start_sign.png) no-repeat left center;
	padding-left : 1.5em;
}

.triplistItem .triplistEnd{
	background : url(../images/end_sign.png) no-repeat left center;
	padding-left : 1.5em;
}

#tripDateBox {
	background : #ededed;
	padding : 0.3em;
	border-radius : 5px;
	border: 1px groove lighten(#EEE, 20%);
}

#tripDateBox .insetLabel{
	color : #555555;
	padding: 0 0.4em 0 0.4em;
}

#tripDateBox .insetValue{
	color : #2d2d2d;
	font-size : $base-fontsize * 1.2;
}

#map_canvas{
	border-top: 3px groove;
}


// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

.lines {
	font : {
		size : 100%;
	};
	color : $base-text;
	text-align : justify;
	text-shadow: white 1px 1px 1px;
}
.lines p {
	margin-bottom : 0.5em;
}

.text {
	font : {
		size : 100%;
		weight : bold;
	};
	color : $base-text;
	text-shadow: white 1px 1px 1px;
	height : $button-height !important;
}

.text .x-innerhtml, .text .x-inner{
	line-height : $button-height;
	text-overflow: clip;  
	white-space: nowrap;  
}

.x-toolbar {
	background : #333;
	broder-top : 3px ridge #333;
	broder-bottom : 3px ridge #333;
	color : white;
}

.x-panel-box{
	left : 5%;
	width : 90%;
	padding : 0.6em;
	border: 1px outset lighten(#EEE, 20%);
	border-radius : 5px;
}

.x-panel{
	@include background-image(linear-gradient($panel-top, $panel-bottom));
}

.x-button{
	@include background-image(linear-gradient($button-top, $button-bottom));
	color : $button-text;
	border-width : 1px;
	border-color : $button-bottom;
	border-style: outset;
	border : 1px outset;
}

.x-button.x-button-pressed{
	@include background-image(linear-gradient($button-pressed-top, $button-pressed-bottom));
	color : $button-text;
	text-shadow : $button-text-glow 0px 0px 2px;
	border : 1px inset;
}

.x-list{
	@include background-image(linear-gradient(#f0f0f0, #dedede));
	border-top-width : 2px;
	border-top-colors: #b0b0b0 white;
}

.x-list-item{
	@include background-image(linear-gradient(#f0f0f0, #dedede));
	border-top: 1px solid white !important;
}

.x-list .x-list-item.x-item-pressed{
	@include background-image(linear-gradient(#ddd, #888));
}

.x-list .x-list-item.x-item-selected{
	@include background-image(linear-gradient(#888, #ddd));
}


.centered{
	text-align : center;
}

.x-toolbar-inpage {
	font : {
		size : 75%;
		weight : bold;
	}
	padding-right : 5%;
	padding-left : 5%;
}

#scanIcon{
	margin-left : 1em;
}

#deviceConfirmLabel{
	text-align : center;
}

.insetDetails{
	background : #141414;
	border-radius: 14px;
	border: 3px inset $base-color;
}

.insetBox{
	padding : 0.5em;
}

.insetBorderRight{
	border-right: 2px solid #010101;
}

.insetBorderLeft{
	border-left: 2px solid #262626;
}

.insetBorderBottom{
	border-bottom: 2px solid #262626;
}

.insetBorderTop{
	border-top: 2px solid #010101;
}


.insetIcon{
	display: inline-block;
	margin-right: 0.8em;
}

.insetLabel{
	color : #d3d3d3;
	font-weight: bold;
	font-size : $base-fontsize;
}

.insetValue{
	color : $button-text;
	font-weight: bold;
	font-size : $base-fontsize;
	overflow : hidden;
	text-overflow : ellipsis;
}

.insetValueBig{
	display: inline-block;
	width : 100%;
	text-align: center;
	color : $button-text;
	font-weight: bold;
	margin-top: 0.7em;
	font-size : $base-fontsize * 1.5;
}
