<tr>
  <td><div class="ttl"><%= link_to member.name, edit_family_kid_path(@family,member), :remote => true %></div></td>
  <td><div class="num"><%= member.email %></div></td>
  <td><div class="num"><%= member.aux_emails %></div></td>
  <td><div class="num"><%= member.phone %></div></td>
</tr>