<img alt="Textbuster_logo" width="148" src='<%= "#{root_url}#{image_path('logos/textbuster_logo.jpg')}" %>'>
<br />
<br />
Alert violation time <%= @time %>
<br />
To view the alert click here <%= link_to new_user_session_url, new_user_session_url %>
<br />
<h3>Keeping the roads safe for everyone ®</h3>
For questions concerning alerts messages please contact 
<%= mail_to @contact %>
<br /><br />
TextBuster ® 2012 all rights reserved