<div class="middle">

  <div class="entry-promo middle-entry">
  
    <div class="app-promo container">
      <h1><%= image_tag "applogo.png", :width => 75, :height => 74 %> No Texting &amp; Driving</h1>
      <p>Texting behind the wheel is now officially the most dangerous distraction according to the AAA. TextBuster was designed to prevent vehicle accidents while also safeguarding your loved ones, employees and everyone that operates a motorized vehicle!</p>
      <div class="market-link"><a href="#"><%= image_tag "android-market.png", :alt => "Available on the Android Market", :width => 197, :height => 55 %></a></div>
    </div><!-- /container -->
        
  </div><!-- /entry-promo -->
      
  <div class="fancyline"></div>

  <div class="entry-reviews middle-entry">
    <div class="container">

      <div class="reviews row">
        <blockquote class="review span4">
          <p>“You cannot legislate common sense. A statewide texting ban would probably not be enforceable.”</p>
        </blockquote>
        <blockquote class="review span4">
          <p>“...If troopers do determine that a driver had been texting prior to an accident, that person would face a more serious violation.”</p>
        </blockquote>
        <blockquote class="review span4">
          <p>“The NTSB recommends devises deemed to aid driver safety. TextBuster provides that - blocking phone data & monitoring driving”</p>
        </blockquote>
      </div>
      <div class="reviews row">
        <blockquote class="review span4">
          <small>Tom Niehaus, Senate president</small>
        </blockquote>
        <blockquote class="review span4">
          <small>Lt. Eric Escola, of the Ohio St. Highway Patrol</small>
        </blockquote>
        <blockquote class="review span4">
          <small>NTSB Chairman, Deborah Hersman</small>
        </blockquote>
      </div>
          
    </div><!-- /container -->
  </div><!-- /entry-reviews -->
      
  <div class="entry-main container">

    <div class="row">
    	<div class="span8">
        <h1>About</h1>
        <p>The TextBuster sends a blocking signal via Bluetooth to the users phone. This is done automatically every time the user enters the vehicle. The TextBuster will not interfere with any other hands free or Bluetooth items in the vehicle.</p>
        <p>The TextBuster is a patented device that will disable the data functions to the drivers phone only while inside the vehicle. TextBuster prevents the driver from accessing all text, email or internet functions while driving their vehicle. TextBuster does not block incoming or outgoing phone calls. </p>
      </div>
    	<div class="span4">
        <%= image_tag "temp/img1.jpg", :alt => "" %>
      </div>
    </div>
        
    <hr />
        
    <div class="features row">
      <div class="span3 feature">
        <span class="thumbnail"><%= image_tag "temp/img2.jpg", :alt => "" %></span>
        <h3>Vehicle Installation</h3>
        <p>The TextBuster device is hidden under the vehicles dash and installs in minutes. The TextBuster is always working every time the driver enters the vehicle.</p>
      </div>
      <div class="span3 feature">
        <span class="thumbnail"><%= image_tag "temp/img3.jpg", :alt => "" %></span>
        <h3>Security Features</h3>
        <p>The phone application downloads in seconds to the user(s) cell phone. The application is password protected preventing unwanted removal.</p>
      </div>
      <div class="span3 feature">
        <span class="thumbnail"><%= image_tag "temp/img4.jpg", :alt => "" %></span>
        <h3>Monitor Feature</h3>
        <p>The TextBuster server monitors the drivers activities and will notify the parent, guardian or fleet manager if the application is tampered with or disabled.</p>
      </div>
      <div class="span3 feature">
        <span class="thumbnail"><%= image_tag "temp/img5.jpg", :alt => "" %></span>
        <h3>Tracking Feature</h3>
        <p>The app provides tracking information. The account manager can view history of trips, route coordinates and receive vehicle speed alerts via sms or email.</p>
      </div>
    </div>
        
  </div><!-- /container -->
      

  <div class="entry-extra middle-entry">
    <div class="container">

      <div class="row">
        
        <div class="span6">
              
          <h2>Contact</h2>
              
          <div class="row">
              
            <div class="span3">
                
              <dl class="contacts">
                <dt>Company</dt>
                <dd>Access2Communications Inc.</dd>
                <dd>225 Technology Way</dd>
                <dd>Steubenville, Ohio 43952</dd>
                <dd class="alt"><%= mail_to 'info@textbuster.com', nil, :class => 'mailto' %></dd>
                <dd>Phone 800-561-1110</dd>
              </dl>
                
            </div>
           
            <div class="span3">
                
              <dl class="contacts">
                <dt>Customer Service</dt>
                <dd><%= mail_to 'customerservice@textbuster.com', nil, :class => 'mailto' %></dd>
                <dd>Phone 800-561-1110</dd>
              </dl>
              <dl class="contacts">
                <dt>Press Inquires</dt>
                <dd><%= mail_to 'news@textbuster.com', nil, :class => 'mailto' %></dd>
              </dl>
              <dl class="contacts">
                <dt>Sales Support</dt>
                <dd><%= mail_to 'sales@textbuster.com', nil, :class => 'mailto' %></dd>
                <dd>Phone 800-561-1110</dd>
                <dd>Fax 800-341-2931</dd>
              </dl>
                  
            </div>
              
          </div>
              
          <div class="row logos">
            <div class="span2">
              <a href="#"><%= image_tag "logos/sema.png", :alt => "" %></a>
              <a href="#"><%= image_tag "logos/bbb.png", :alt => "" %></a>
              <a href="#"><%= image_tag "logos/niada.png", :alt => "" %></a>
            </div>
            <div class="span3 offset1">
              <a href="#"><%= image_tag "logos/usa.png", :alt => "" %></a>
              <a href="#"><%= image_tag "logos/rohs.png", :alt => "" %></a>
            </div>
          </div>
              
        </div>
            
        <div class="span4 offset2">
              
          <h2>Get in Touch</h2>
              
          <form action="#" class="form-vertical">
              
            <div class="control-group">
              <label class="control-label" for="name">Name</label>
              <div class="controls">
                <input class="span4" id="name" type="text" value="">
              </div>
            </div>
              
            <div class="control-group">
              <label class="control-label" for="email">Email</label>
              <div class="controls">
                <input class="span4" id="email" type="email" value="">
              </div>
            </div>
              
            <div class="control-group">
              <label class="control-label" for="message">Message</label>
              <div class="controls">
                <textarea class="span4" id="message" rows="3"></textarea>
              </div>
            </div>
                
            <div class="form-actions">
              <button type="submit" class="btn btn-xlarge btn-submit"><span>Send</span></button>
            </div>
              
          </form>
              
        </div>
          
      </div>
        
    </div><!-- /container -->
  </div><!-- /entry-extra -->
    
</div><!-- /middle -->
    

